@import "variables";
@import "mixins";

.home-cards-container {
  h3 {
    color: $black;
    font-weight: 600;
    font-size: 16px;
    margin-top: 0px;
    text-transform: capitalize;
  }
  .product-container {
    @include flexCenter;
    flex-direction: column;
    img {
      width: 80px;
      height: 80px;
      display: block;
      margin-bottom: 10px;
    }
    span {
      font-weight: 600;
      color: $black;
      font-size: 12px;
    }
  }
}

.home-products-by-category {
  h3 {
    text-transform: uppercase;
  }
  .icon {
    img {
      width: 100%;
      height: 230px;
      object-fit: cover;
    }
    @media #{$media-mobile} {
      img {
        height: auto;
      }
    }
  }
  .product-container {
    background-color: $white;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 1rem;
    height: 100%;
    h3 {
      color: #000;
      font-weight: 600;
      padding-bottom: 10px;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
      text-transform: capitalize;
    }
    span {
      display: block !important;
      margin-left: auto;
    }
    img {
      width: 110px;
      height: 110px;
      display: block;
      margin-left: auto;
      border-radius: 8px;
    }
  }
}

.home-just-for-you {
  .product-container {
    background-color: $white;
    // border: 1px solid $border-color;
    transition: all 0.7s ease-out;
    -webkit-transition: all 0.7s ease-out;
    margin-bottom: 20px;
    border-radius: 8px;

    img {
      width: 100%;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }
    .prod-description {
      // margin-top: 10px;
      padding: 1rem;
      p {
        margin: 0;
        padding: 0;
        font-size: 12px;
        color: $text-gray;
        &:nth-child(1) {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &:nth-child(2) {
          color: $black;
          font-weight: 600;
          font-size: 14px;
        }
      }
    }
  }
  @media #{$media-mobile} {
    .lazy-load-image-background.blur.lazy-load-image-loaded {
      width: 100% !important;
    }
  }
}

.top-suppliers {
  .main-container {
    margin-top: 2rem;
    .slider-item {
      @include flexCenter;
      flex-direction: column;
      img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin-bottom: 10px;
        display: block;
      }
      span {
        font-weight: 600;
        font-size: 12px;
        color: $black;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.products-carousel {
  .carausel-custom-control {
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: 10px;
    cursor: pointer;
    color: $white;
    &:hover {
      color: $orange;
    }
  }
  .slider-item {
    background-color: $white;
    border-radius: 10px;
    margin: 0px 5px;
    padding: 10px;
    img {
      display: block;
      width: 100%;
      height: 140px;
      border-radius: 10px;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    p {
      display: -webkit-inline-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      line-height: 14px;
      font-size: 14px;
      color: #222;
      min-height: 28px;
      margin-bottom: 10px;
    }
    span {
      display: block;
      width: 100%;
      line-height: 16px;
      font-weight: bold;
      font-size: 16px;
      color: #333;
      overflow: hidden;
      word-wrap: normal;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-right: 10px;
    }
  }
  @media #{$media-mobile} {
    margin-top: 1rem;
    img {
      height: auto;
    }
  }
}
