@import "variables";
@import "mixins";
.single-product-container {
  background-color: $white;
  padding: 2rem;
  a {
    text-decoration: none;
  }
  .categories {
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: inline-block;
        padding-right: 10px;
        font-size: 12px;
        span {
          &:hover {
            color: $orange;
            cursor: pointer;
          }
        }
      }
    }
  }
  .prices-container {
    padding: 1rem 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    .price {
      @include flexCenter;
      flex-direction: column;
      align-items: flex-start;
      span {
        font-size: 12px;
      }
      h3 {
        font-size: 14px;
      }
    }
  }
  .contact-btn {
    background-color: $orange;
    font-size: 12px;
    border: none;
    text-align: center;
    display: block;
    padding: 5px 10px;
    border-radius: 10px;
    width: 100%;
    color: $white;
    &:hover {
      opacity: 0.6;
    }
  }
  .share-container {
    div {
      display: inline-block;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      background-color: $orange;
      margin-right: 10px;
      i {
        color: $white;
        @include flexCenter;
        margin-top: 12px;
      }
    }
  }
  .supplier-banner {
    position: relative;
    height: 100px;
    img {
      width: 100%;
      height: 80px;
    }
    .supplier-profile {
      position: absolute;
      width: 100%;
      bottom: 10px;
      @include flexCenter;
      img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        border: 3px solid $orange;
      }
    }
  }
  .related-products-container {
    .carausel-custom-control {
      background-color: rgba($color: #000000, $alpha: 0.5);
      padding: 10px;
      cursor: pointer;
      color: $white;
      &:hover {
        color: $orange;
      }
    }
    .slider-item {
      img {
        display: block;
        width: 160px;
        height: 160px;
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 10px;
      }
      p {
        display: -webkit-inline-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        line-height: 14px;
        font-size: 14px;
        color: #222;
        min-height: 28px;
        margin-bottom: 10px;
      }
      span {
        display: block;
        width: 100%;
        line-height: 16px;
        font-weight: bold;
        font-size: 16px;
        color: #333;
        overflow: hidden;
        word-wrap: normal;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 10px;
      }
    }
  }
}

.single-product-tabs-container {
  padding: 2rem;
  .tab {
    display: inline-block;
    font-size: 14px;
    padding: 12px 16px;
    color: #666;
    background-color: #fafafa;
    max-width: 220px;
    font-weight: 700;
    font-size: 16px;
    margin-right: 4px;
    border: solid 1px #eee;
    border-radius: 8px 8px 0 0;
    &:hover {
      color: $orange;
      background-color: $white;
      border: solid 1px $white;
      cursor: pointer;
    }
  }
  .tab.active {
    color: $orange;
    background-color: $white;
    border: solid 1px $white;
    cursor: pointer;
  }
  .tab-contents-main-container {
    background-color: $white;
    padding: 12px 16px;
    .question {
      margin-bottom: 10px;
      p {
        font-size: 14px;
        font-weight: 700;
        margin: 0;
      }
      span {
        font-size: 12px;
      }
    }
    .message-container {
      margin-top: 10px;
      background-color: $gray-100;
      border-radius: 10px;
      padding: 1rem;
      h3 {
        font-size: 16px;
      }
    }
  }
  .product-reviews-main-container {
    h3 {
      font-size: 16px;
    }
    .review {
      @include flexSpace;
      align-items: flex-start !important;
      i {
        font-size: 50px;
      }
      .contents {
        flex: 1;
        padding: 10px;
        margin-left: 10px;
        border: 1px solid $border-color;
        span {
          font-size: 12px;
        }
        p {
          margin: 0;
          margin-top: 10px;
          font-size: 14px;
        }
      }
    }
  }
}
