@import "variables";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import "./layout/sidebar";
@import "./layout/container";

@import url("https://fonts.googleapis.com/css?family=Slabo+27px|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

body,
a {
  font-family: "Poppins", sans-serif !important;
}
.text-orange {
  color: $orange;
}
.afriseller-container {
  margin-left: 5rem;
  margin-right: 5rem;
}
.afriseller-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.common-btn {
  background-color: $orange;
  font-size: 12px;
  border: none;
  text-align: center;
  display: block;
  padding: 5px 10px;
  border-radius: 10px;
  color: $white;
  &:hover {
    opacity: 0.6;
  }
}

.pointer {
  cursor: pointer;
}

@media (max-width: 764px) {
  .afriseller-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
